
.fullhome {
  width: 100%;
  min-height: 575px;
  margin-top: 50px;
  height: calc(100vh - 50px);
}

.title {
  padding-left: 50px;
  padding-right: 50px;
  font-size: 35px;
  font-weight: 300;
  margin-bottom: 0px;
}

.explained {
  padding-left: 50px;
  padding-right: 50px;
  margin-bottom: 40px;
}

.outer {
  -webkit-box-shadow: 0px 1px 30px -20px #000000;
  box-shadow: 0px 1px 30px -20px #000000;
  min-height: 100%;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.linked {
  color: #0098FF;
  cursor: pointer;
  text-decoration: underline;
}
